<h1> Movie Title: <%= @movie.title %> </h1>
<h2> Creation Year: <%= @movie.creation_year %> </h2>
<h2> Genre: <%= @movie.genre %> </h2>
<h3>All Actors: </h3>

<% @movie.actors.order_by_age.each do |actor| %>
<h3><%= actor.name %></h3>
<% end %>
<h3>Average Age: <%= @movie.actors.average_age %> </h3>

<%= form_tag movie_path(@movie), method: :get do %>
<%= text_field_tag :name %>
<%= button_to 'Search actor by name', "/actor_movies", method: :get, params: {actor_id: params[:id], movie_id: @movie.id} %>
<% end %>
